body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
}

h1,
h2,
h3 {
  margin: 0 0 1rem;
}

h1.heading-welcome {
  font-size: 140px;
  line-height: 1;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 40px;
}

.section {
  height: 100vh;
  display: grid;
  overflow: hidden;

  &.section--center {
    place-items: center;
  }

  &.section--77 {
    height: calc((100vh - 3rem) * 0.7777777777777778);
    z-index: 9;
    position: relative;
  }
}

.text-center {
  text-align: center;
}

.bg--noise {
  background-blend-mode: overlay;
  background-image: linear-gradient(
      to top,
      #808080,
      #666 calc(40%),
      #999 calc(40%),
      #808080
    ),
    url(/assets/noise.png);
}

.logo {
  display: none;
  height: 6rem;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 5rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 6rem;
  z-index: 1100;
}

@media screen and (min-width: 48em) {
  .logo {
    display: block;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  z-index: 5;
  * {
    transition: all 1.8s ease;
  }

  &__heading {
    transform: translate(0, -500px);
    margin-top: 100px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translate(0, 100px);
    margin-bottom: 100px;
  }

  &__img {
    position: relative;
    &__left {
      position: absolute;
      right: 50%;
      z-index: 11;
      transform: translate(-100px, 0);
    }
    img:not(.item__img__left) {
      position: relative;
      z-index: 12;
      // opacity: 0;
      transition: all 1.5s ease;
    }
  }
}

// TODO: Additional Slick nav button with carton image

.item-nav {
  z-index: 4;
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 250ms ease;

    &#item-nav__prev {
      right: calc(100% - 60px);
      &:hover {
        transform: translate(60px, -50%);
      }
    }
    &#item-nav__next {
      left: calc(100% - 60px);
      &:hover {
        transform: translate(-60px, -50%);
      }
    }
  }
}

// ------ Slick Slider ------
.slick-slide {
  img {
    display: unset !important;
  }

  .item__img {
    img:not(.item__img__left) {
      opacity: 0;
    }
  }
  &.slick-active {
    .item__img__left,
    .item__info {
      transform: translate(0, 0);
    }

    .item__heading {
      transform: translate(0, -100px);
      margin-top: 100px;
    }

    .item__img img:not(.item__img__left) {
      opacity: 1;
    }
  }
}

.js-options-slider-nav {
  position: absolute;
  // bottom: calc((100vh - 700vh / 9) / 2);
  transform: translateX(-50%);
  left: 50%;
  bottom: 40px;
  button {
    cursor: pointer;
    background: transparent;
    border-width: 0px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.2;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: inherit;
    padding: 0;
    &:hover {
      background-color: #c4c4c4;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
    }

    &:active,
    &[data-active='true'] {
      background-color: #9d9d9d;
    }
  }
  .js-options-slider-next {
    margin-left: 3rem;
  }
  .js-options-slider-prev {
    margin-right: 3rem;
  }
}

.arrow-down {
  border: 2px #fff solid;
  border-radius: 9999px;
  position: fixed;
  bottom: 60px;
  height: 52px;
  left: 50%;
  display: none;
  outline: none;
  transform: translate(-50%, 50%);
  width: 52px;
  z-index: 1100;
  svg {
    width: 30px;
    height: 30px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

@media screen and (min-width: 48em) {
  .arrow-down {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

// ** sticky and scroll
.section__sticky-1 {
  overflow-x: hidden;
  position: sticky;
  bottom: 0;
  z-index: 1;
}
.section__sticky-2 {
  overflow-x: hidden;
  position: sticky;
  bottom: 0;
  height: 100vh;
}

.test {
  background-image: linear-gradient(
      to top,
      #808080,
      #666 calc(100% / 3),
      #999 calc(100% / 3),
      #808080
    ),
    url(./noise.png);
}
