body {
  margin: 0;
  // font: 900 120% system-ui, sans-serif;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 120%;
}

.section {
  height: 100vh;
  display: grid;
  overflow: hidden;

  &.section--center {
    text-align: center;
    place-items: center;
  }
}

.emoji {
  display: inline-block;
  font-size: 120px;
  margin: 0;

  &--large {
    font-size: 200px;
  }
}

h1 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.layout {
  display: flex;

  &__item {
    &--40 {
      width: 40%;
    }
    &--60 {
      width: 60%;
    }
  }
}

.fixed {
  &__wrapper {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    top: -100vh;
    right: 0;
    left: 0;
    bottom: -100vh;
  }

  &__item--bg {
    background-image: url('https://images.unsplash.com/photo-1565769583690-7da5b32d5778?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyNDA1NDU3OQ&ixlib=rb-1.2.1&q=85');
    height: 100%;
    background-size: cover;
    background-position: 50%;
    opacity: 0.75;
    mix-blend-mode: multiply;
    position: absolute;
    top: -100vh;
    right: 0;
    left: 0;
  }
}

.lyrics {
  &__sticky {
    background: #fff;
    position: relative;
    z-index: 9;
    font-size: 300%;
  }
  p {
    &.lyrics__opac {
      opacity: 0.2;
      margin-top: -40px;
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }
}
