body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
}

h1,
h2,
h3 {
  margin: 0 0 1rem;
}

h1.heading-welcome {
  font-size: 140px;
  line-height: 1;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 40px;
}

.section {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

.section.section--center {
  place-items: center;
}

.section.section--77 {
  height: calc((100vh - 3rem) * 0.7777777777777778);
  z-index: 9;
  position: relative;
}

.text-center {
  text-align: center;
}

.bg--noise {
  background-blend-mode: overlay;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#808080), color-stop(#666), color-stop(#999), to(#808080)), url(/assets/noise.png);
  background-image: linear-gradient(to top, #808080, #666 calc(40%), #999 calc(40%), #808080), url(/assets/noise.png);
}

.logo {
  display: none;
  height: 6rem;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 5rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 6rem;
  z-index: 1100;
}

@media screen and (min-width: 48em) {
  .logo {
    display: block;
  }
}

.item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  z-index: 5;
}

.item * {
  -webkit-transition: all 1.8s ease;
  transition: all 1.8s ease;
}

.item__heading {
  -webkit-transform: translate(0, -500px);
          transform: translate(0, -500px);
  margin-top: 100px;
}

.item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  margin-bottom: 100px;
}

.item__img {
  position: relative;
}

.item__img__left {
  position: absolute;
  right: 50%;
  z-index: 11;
  -webkit-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
}

.item__img img:not(.item__img__left) {
  position: relative;
  z-index: 12;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.item-nav {
  z-index: 4;
}

.item-nav button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.item-nav button#item-nav__prev {
  right: calc(100% - 60px);
}

.item-nav button#item-nav__prev:hover {
  -webkit-transform: translate(60px, -50%);
          transform: translate(60px, -50%);
}

.item-nav button#item-nav__next {
  left: calc(100% - 60px);
}

.item-nav button#item-nav__next:hover {
  -webkit-transform: translate(-60px, -50%);
          transform: translate(-60px, -50%);
}

.slick-slide img {
  display: unset !important;
}

.slick-slide .item__img img:not(.item__img__left) {
  opacity: 0;
}

.slick-slide.slick-active .item__img__left,
.slick-slide.slick-active .item__info {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.slick-slide.slick-active .item__heading {
  -webkit-transform: translate(0, -100px);
          transform: translate(0, -100px);
  margin-top: 100px;
}

.slick-slide.slick-active .item__img img:not(.item__img__left) {
  opacity: 1;
}

.js-options-slider-nav {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 40px;
}

.js-options-slider-nav button {
  cursor: pointer;
  background: transparent;
  border-width: 0px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.2;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: inherit;
  padding: 0;
}

.js-options-slider-nav button:hover {
  background-color: #c4c4c4;
}

.js-options-slider-nav button:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
          box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.js-options-slider-nav button:active, .js-options-slider-nav button[data-active='true'] {
  background-color: #9d9d9d;
}

.js-options-slider-nav .js-options-slider-next {
  margin-left: 3rem;
}

.js-options-slider-nav .js-options-slider-prev {
  margin-right: 3rem;
}

.arrow-down {
  border: 2px #fff solid;
  border-radius: 9999px;
  position: fixed;
  bottom: 60px;
  height: 52px;
  left: 50%;
  display: none;
  outline: none;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 52px;
  z-index: 1100;
}

.arrow-down svg {
  width: 30px;
  height: 30px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media screen and (min-width: 48em) {
  .arrow-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section__sticky-1 {
  overflow-x: hidden;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.section__sticky-2 {
  overflow-x: hidden;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 100vh;
}

.test {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#808080), color-stop(#666), color-stop(#999), to(#808080)), url(./noise.png);
  background-image: linear-gradient(to top, #808080, #666 calc(100% / 3), #999 calc(100% / 3), #808080), url(./noise.png);
}
/*# sourceMappingURL=style.css.map */